.home-box {
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: #3A5295;
    border-radius: 5%;
    margin: 15px;
    font-size: 16px;
    border: 1px solid gray;
}

.blue-details-area {
    display: flex;
    background-color: #ffffff;
    height: 150px
}

.blue-area-costs {
    display: flex;
    flex-direction: column;
    width: 40%;
    font-size: 12px;
}

.blue-area-costs h3 {
    font-size: 24px;
}

.bedbath-container {
    display: flex;
    width: 40%;
    font-size: 16px;
}

.home img {
    width: 400px;
    height: 50px;
}

.homes-container {
    color: white;
    text-decoration: none;
}

.white-area {
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border: 1px solid gray;
}

.address {
    margin-top: 15px;
    font-size: 12px;
}

.address {
    display: flex;
}

.homedetailspage {
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 12px;
    color: black;
    text-decoration: none;
}

.homedetailspage a {
    color: black;
    text-decoration: none;
}