.search-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 150px;
    filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
    border-radius: 15px;
    background-color: white;
    width: 80%;
}

.search-areas {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.accomodations-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 10px;
    width: 100%;
}

.student-container {
    margin-bottom: 120px;
    display: flex;
    justify-content: center;
    background-color: #F6FAFD;
    
}
.student-container img {
    border-radius: 20px;
    height: 300px;

}

.student-container-text {
    margin: 40px;
    width: 30%;
 
}

.student-container-text p {
    margin-top: 20px;
    line-height: 32px;
}